body {
    height: 100vh;
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
   background-color:  hsl(185, 75%, 39%);
   text-align: center;
   font-family: "Kumbh Sans", sans-serif;
   background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    background-repeat: no-repeat;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
  }

header {
    height: 140px;
    position: relative;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
}

.card {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: white;
    width:350px;
    border-radius: 20px;
}
header img {
 border-radius: 20px 20px 0 0;
}

.profile-picture {
    position: absolute;
    top: 100%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%); 
    display: flex;  
    justify-content: center;
    align-items: center;
}

.bottom-section {
    border-top: 2px solid gray
}

div.profile-picture img {
    border-radius: 50%;
}

footer {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
}

.bottom-section {
    display: flex;
    justify-content: space-evenly;
    
}

.bottom-section h2 {
    margin: 7px;
}